.roadmap {
  min-height: 110vh;
  background-image: url(../../../../../public/media/images/roadmap2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  position: relative;

  .img {
    width: 100%;
    display: none;
  }

  .text1,
  .text2,
  .text3,
  .text4 {
    position: absolute;
    color: var(--color-light);
    display: none;
    p {
      font-size: 0.9vw;
    }
  }

  .text1 {
    left: 11.5%;
    top: 65.5%;
    width: 14vw;
  }

  .text2 {
    left: 31.75%;
    top: 57.75%;
    width: 14vw;
  }
  .text3 {
    left: 44.75%;
    top: 31.5%;
    width: 20vw;
  }

  .text4 {
    left: 68.5%;
    top: 74%;
    width: 15vw;
  }

  .branch {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    transform: translateY(40%);
    z-index: 999;
    display: flex;

    img {
      flex: 1;
      max-width: 32.8vw;
    }
  }
}

@include respond(phone) {
  .roadmap {
    min-height: 100%;
    background-image: unset;

    .img {
      display: block;
    }

    .branch {
      height: 5rem;
    }
  }
}
